@import "./variables.scss";

.mylogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  margin: 10px;
  flex: 0 0 18%; /* Five logos per view */

  @media (max-width: 600px) {
    flex: 0 0 28%; /* Five logos per view */
  }
}

.mylogo img {
  max-width: 100%;
  height: auto;
  display: block;
}
